@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=Inter:wght@400;500;600&display=swap');

@theme {
  --color-background: #F4F2EE;
  --color-primaryText: #161616;
  --color-secondaryText: #66625D;
  --color-border: #D8D4CE;
  --color-surface: #FFFFFF;
  --color-darkSurface: #1C1C1C;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: Inter, sans-serif;
}

body {
  @apply bg-background text-primaryText font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
